<script type="text/html" id="single-tile-template">
  <div class="tile-container">
    <div class="tile-message">
      <%%= this.model.get("message") %>
    </div>
    <span><%%= this.model.get("sound_id") %></span>
  </div>
</script>