<div class="tiles-wrapper" ng-controller="TileController">
    <h1>Tiles</h1>
    <div ng-repeat="(id, tile) in tiles">  <!-- ng-repeat="tile in tiles track by tile.id" -->
          <div class="tile-wrapper">
               {{tile.message}}
          </div>
    </div>
</div>



<!-- <script type="text/html" id="single-tile-template">
//   <div class="tile-container">
//     <div class="tile-message">
//       <%%= this.model.get(#"message") %>
//     </div>
//     <span><%%= this.model.get(#"sound_id") %></span>
//   </div>
// </script>