<!-- Signed out -->
<%if !user_signed_in? %>
  <h2>Music moments</h2>
<% end %>

<!-- Signed in -->
<% if user_signed_in? %>
  <h2>Welcome <%= @user.username %></h2>
  <%= render 'tile_template' %>
  <%= render 'search_song_template' %>
<% end %>
