<!-- Not signed in -->
<% if !user_signed_in? %>
  <h1>Revly</h1>
  <nav id="user_nav">
    <ul>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>
<% end %>

<!-- Signed in -->
<% if user_signed_in? %>
  
  <h2>You are <%=current_user.username%></h2>

<script>
  
</script>

<% end %>
