<!-- Signed out -->
<%if !user_signed_in? %>
  <h2>Music moments</h2>
<% end %>

<!-- Signed in -->
<% if user_signed_in? %>
  <h2>Welcome <%= @user.username %></h2>
  <script type="text/html" id="single-tile-template">
    <div class="tile-container">
      <div class="tile-message">
        <%%= this.model.get("message") %>
      </div>
      <span><%%= this.model.get("sound_id") %></span>
    </div>
  </script>
<% end %>
