<!-- Signed in -->
<% if user_signed_in? %>
  
  <h2>You are <%=current_user.username%></h2>

  <script type="template" class="template">
    <div class="tile">
      <%%= tile.get('message') %> //requires backbone
    </div>
  </script>

<% end %>
