<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Home -->
    <li class="name"><%= link_to 'Revly', root_path %></li>
    <!-- Mobile Dropdown Menu -->
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <!-- Search Bar -->
    <%= render 'layouts/search_bar' %>
    <!-- Menu Items -->
    <ul class="right">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
