<ul class="left">
  <li class="divider"></li>
  <li class="has-form">
  <div class="row collapse">
    <form id="search-form" accept-charset="UTF-8" action="/searchsong" method="get">
      <div class="large-8 small-9 columns">
        <input id="search-bar" type="text" placeholder="Search a song">
      </div>
      <div class="large-4 small-3 columns">
        <input id="search-button" type="submit" value="Search" class="alert button expand" />
      </div>
    </form>
  </div>
  </li>
</ul>